html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    border: 0;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transition: background-color 0.3s, color 0.3s;
}

#mySection2 {
    width: 100%;
    position: fixed;
    background-color: rgb(3, 98, 241);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

#mySection {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgb(3, 98, 241);
}

.modo {
    display: flex;
    transition: margin-left 0.5s;
    margin-left: auto;
}

.container {
    color: white;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container a {
    justify-content: center;
    margin-left: 50px;
}

.modo img,
.modo a {
    width: 35px;
    height: 35px;
    display: block;
    margin-left: 10px;
    margin-top: auto;
}

.container button {
    color: white;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    color: #2e2e2e;
}

.contato {
    color: white;
    display: flex;
    align-items: center;
}

#navegacao {
    margin: 0 auto;
    width: 60%;
}

.redes {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.redes button {
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    padding: 1px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

button[title="Facebook"] {
    background-image: url(imagens/Facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

button[title="Instagram"] {
    background-image: url(imagens/Instagram.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

button[title="Twitter"] {
    background-image: url(imagens/twitter.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 25px;
    background-color: #333;
    text-align: center;
    color: white;
}

footer img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.menu3,
.menu4 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.menu3 p,
.menu4 p {
    text-align: left;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(3, 98, 241);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar button,
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.sidebar button:hover {
    color: #2e2e2e;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    opacity: 1;
    cursor: pointer;
    background-color: rgb(3, 98, 241);
    color: white;
    padding: 10px 15px;
    border: none;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    width: 20%;
    height: 450px;
    background-color: gray;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#name,
#email,
#number {
    border: none;
    border-radius: 10px;
    height: 30px;
}

textarea {
    border: none;
    border-radius: 10px;
    height: 100px;
    width: 297px;
    resize: none;
}

.contato2 h2 {
    text-align: center;
}

.menu,
.menu button,
.menu2,
.menu2 button,
.menu a,
.menu2 a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.menu button,
.menu2 button {
    cursor: pointer;
}

.menu button:hover,
.menu2 button:hover {
    letter-spacing: 0.1em;
    transition: 2s;
}

#saida {
    display: flex;
    margin-left: auto;
    justify-content: end;
}

#darkModeButton {
    background-image: url(imagens/sun.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.dark-mode .logo {
    color: white;
}

.dark-mode {
    background-color: #181717;
    color: #fff;
}

.dark-mode button {
    color: white;
}

.dark-mode .redes button {
    background-color: transparent;
    color: white;
}

.dark-mode #darkModeButton {
    color: white;
}

.dark-mode .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.dark-mode .sidebar a:hover {
    color: #0e12e7bd;
}

.dark-mode .sidebar .closebtn {
    color: rgb(0, 0, 0);
}

.dark-mode #main {
    border: 2px solid white;
}

.dark-mode #clear,
.dark-mode #submit {
    background-color: white;
}

.dark-mode .work {
    border: 1px solid whitesmoke;
}

main p,
main h1,
main h2,
main h3 {
    text-align: center;
}

.image {
    background-image: url(imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 70vh;
    margin-bottom: auto;
    margin-top: auto;
    border: 1px solid transparent;
}

.image2 {
    background-image: url(imagens/rh.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 60vh;
    margin-bottom: auto;
    margin-top: auto;
    border: 1px solid transparent;
}

.inicio {
    width: 30%;
    margin: 0 auto;
    color: white;
    margin-top: 200px;
}

.inicio2 {
    width: 40%;
    margin: 0 auto;
    margin-top: 360px;
    color: white;
    font-weight: bold;
}


.inicio h1,
.inicio2 h2 {
    font-size: 32px;
}

.work p {
    margin: 4px;
}

.inicio p,
.inicio2 p {
    font-size: 20px;
}

.back {
    background-color: #333;
    border: 1px solid transparent;
}

.text {
    width: 50%;
    color: rgb(3, 98, 241);
    margin: auto;
}

.text p {
    color: white;
    font-size: 20px;
}

.text h2 {
    font-size: 30px;
}

#partner,
.partner {
    width: 50%;
    margin: auto;
}

#carousel img {
    width: 320px;
    height: 180px;
    margin-left: 30px;
    filter: grayscale(1);
}

#carousel img:hover {
    transition: 1.0s;
    filter: grayscale(0);
}

#carousel {
    display: flex;
}

#imagens img {
    width: 240px;
    height: 340px;
    margin-left: 30px;
}

#imagens {
    display: flex
}

.h2,
#partner h2 {
    font-size: 30px;
}

#main {
    width: 55%;
    margin: auto;
    margin-top: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.caroussel,
.caroussel p,
.caroussel h3 {
    display: flex;
    text-align: left;
}

.caroussel p {
    margin-left: 5px;
}

.caroussel .profile {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.caroussel .profile img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    transform: scaleX(-1);
}

.company {
    color: rgba(128, 128, 128, 0.9);
}

.consulting {
    background-color: rgb(3, 98, 241);
    color: white;
    padding: 10px;
}

.consulting h2 {
    font-size: 30px;
}

.frase {
    font-size: 20px;
}

#contact2 {
    display: flex;
    border-radius: 10px;
    color: rgb(3, 98, 241);
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.work {
    border: 1px solid black;
    width: 20%;
    margin: 0 auto;
    border-radius: 10px;
}

#name2,
#email2,
#number2,
#town {
    border: 1px solid gray;
    width: 300px;
    height: 30px;
    margin-top: 5px;
}

#clear,
#submit {
    background-color: whitesmoke;
    border: 1px solid gray;
    width: 80px;
    cursor: pointer;
}

.element {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#state {
    border: 1px solid gray;
    width: 80px;
}

.frase {
    width: 60%;
    margin: auto;
}

.botao {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.botao button {
    background-color: rgb(3, 98, 241);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.botao button:hover {
    filter: brightness(0.8);
}

.purpose {
    width: 60%;
    margin: 0 auto;
}

.s1 {
    display: flex;
    align-items: left;
    margin-top: 100px;
}

.s1 img {
    width: 300px;
    height: 300px;
}


.master {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.master p {
    text-align: left;
    margin-left: 5px;
}

.services {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container button {
        font-size: 16px;
    }

    .sidebar button,
    .sidebar a {
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
    }

    .menu,
    .menu button,
    .menu2,
    .menu2 button,
    a {
        font-size: 12px;
    }

    .modo img,
    .modo a {
        width: 30px;
        height: 30px;
        margin-top: auto;
    }

    .partner h2,
    .h2 {
        font-size: 20px;
    }

    .inicio,
    .inicio h2,
    .inicio2 h2 {
        margin-top: 100px;
        font-size: 28px;
    }

    .inicio p,
    .inicio2 p {
        font-size: 16px;
    }

    #carousel img {
        width: 270px;
        height: 130px;
        margin-left: 20px
    }

    #contact,
    .work {
        width: 40%;
    }
}

@media (max-width: 800px) {

    button[title="Facebook"],
    button[title="Instagram"],
    button[title="Twitter"] {
        width: 20px;
        height: 20px;
    }

    #navegacao {
        width: 95%;
    }

    #saida {
        font-size: 9px;
    }

    .logo {
        font-size: 10px;
    }

    #darkModeButton,
    .modo img,
    .modo a {
        width: 20px;
        height: 20px;
        margin-bottom: auto;
    }

    #partner h2,
    .h2 {
        font-size: 20px;
    }

    .menu,
    .menu button,
    .menu2,
    .menu2 button,
    a {
        font-size: 10px;
    }

    .inicio,
    .inicio h2 {
        width: 50%;
        margin-top: 50px;
        font-size: 20px;
        text-align: center;
    }

    .inicio2,
    .inicio2 h2 {
        margin-top: 100px;
        font-size: 20px;
    }

    .inicio2 h2 {
        margin: 0 auto;
    }

    .inicio p,
    .inicio2 p {
        font-size: 12px;
    }

    .text {
        width: 90%;
    }

    #main {
        width: 83%;
    }

    #carousel img {
        margin-left: 0px;
    }

    #imagens img {
        margin-left: 0px;
        width: 80px;
        height: 250px;
    }

    .caroussel .profile img {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }

    .frase {
        width: 80%;
    }

    footer {
        gap: 30px;
    }

    #contact {
        height: 400px;
        width: 90%;
    }

    .work {
        width: 90%;
    }

    #name,
    #email,
    #number {
        height: 20px;
        width: 250px;
    }

    #name2,
    #email2,
    #number2,
    #town,
    #state {
        border: 1px solid gray;
        width: 220px;
        height: 20px;
        margin-left: 10px;
    }

    label,
    #clear,
    #submit {
        margin-left: 10px;
    }

    textarea {
        height: 80px;
        width: 250px;
    }

    .text p {
        font-size: 16px;
    }

    .text h2 {
        font-size: 20px;
    }

    footer {
        flex-wrap: wrap;
    }

    .menu3,
    .menu4 {
        width: 60%;
    }

    .purpose {
        width: 90%;
    }

    footer img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .services {
        width: 90%;
    }
    .master {
        width: 90%;
    }

    .s1 img {
        width: 130px;
        height: 150px;
    }
}